.picture {
  cursor: pointer;
}

.wiggle {
  animation: wiggle linear 0.2s 2;
}

.hide {
  animation: hide linear 0.5s forwards;
}

@keyframes wiggle {
  25% {
    transform: translateX(20px);
  }

  75% {
    transform: translateX(-20px);
  }
}

@keyframes hide {
  100% {
    opacity: 0%;
  }
}
